body {
	color: white;
}
.header {
	margin-top: 50px;		
}
.header-img {
	margin: 150, 1500, 150, 1500;
	width: 400px;
	height: 250px;
	border-radius: 4px;
}
.demo-layout-transparent { 
  background: url('../img/material.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {  
  color: white;
}
.repo.mdl-card {
 margin-top: 50px; 
}
.repo > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../img/material.jpg') center / cover;
}
.repo > .mdl-card__menu {
  color: #fff;
}